@import './header.css';
@import './reset.css';
@import './footer.css';


/* animnation */

.hero.animation__el.element__show .hero__container .hero__info {
    opacity: 1;
    transform: translate(0);
}

.main {
    width: 100%;
    min-height: 100%;
    background: url(../imgs/танцы/back1.png) no-repeat top /100% 23%;
}

.hero {
    height: 1080px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.hero__info {
    margin-top: 700px;
    position: relative;
    transition: all 2s;
}

.hero__info {
    transform: translateX(-1070px);
    opacity: 0;
}

.hero__info::after {
    content: '';
    position: absolute;
    top: -144px;
    left: -30px;
    height: 307px;
    border: 2px solid #fff;
}

.text {
    font-family: 'UZ';
    font-size: 18px;
    font-weight: 350;
    line-height: 18.18px;
    text-align: left;
}

.info__text {
    max-width: 536px;
}

.title {
    font-family: 'gazeta';
    font-size: 134px;
    font-weight: 400;
    line-height: 147.4px;
    text-align: left;
}

.sub__hero {
    background-color: rgba(60, 61, 26, 1);
    padding-bottom: 70px;
}

.sub__hero-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.sub__title {
    font-family: 'UZ';
    font-size: 66px;
    font-weight: 350;
    line-height: 66.68px;
    text-align: left;
    max-width: 1521px;
    margin-top: 123px;
    border: 2px solid #fff;
    border-width: 0 0 2px 0;
    padding-bottom: 50px;
}

.sub__description {
    font-family: 'UZ';
    font-size: 18px;
    font-weight: 350;
    line-height: 18.18px;
    text-align: left;
    max-width: 772px;
    margin-top: 66px;
}

.music {
    background-color: rgba(60, 61, 26, 1);
    height: 656px;
}

.music__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music__info {
    max-width: 432px;
    padding-top: 66px;
    text-align: left;
}

.slider {
    max-width: 1400px;
    overflow: hidden;

}

.swiper-slide {
    display: flex;
    justify-content: space-around;
    align-items: start;
    cursor: pointer;
}

.img--music {
    width: 30%;
}

.music__title {
    margin-bottom: 20px;
}

.music__title,
.music__deascrioption {
    font-family: 'UZ';
    font-size: 18px;
    font-weight: 350;
    line-height: 18.18px;
}

.dance__container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.dance__info {
    padding-top: 86px;
    padding-bottom: 50px;
}

.dance__info .title {
    color: rgba(60, 61, 26, 1);
}

.dance__info .sub__description {
    color: rgba(0, 0, 0, 1);
    max-width: 444px;
}

.dance__cards {
    margin-bottom: 67px;
    width: 100%;
}

.dance__card {
    max-width: 301px;
    width: 100%;
}

.dance__card {
    margin-right: 200px;
}

.dance__card:last-child {
    margin-right: 0;
}

.dance__top {
    display: flex;
    justify-content: end;
}

.dance__top .dance__card {
    max-width: 301px;
    border: 2px solid rgba(0, 0, 0, 1);
    padding-left: 15px;
    border-width: 0 0 0 2px;
}

.dance__bot .dance__card {
    border: 2px solid rgba(0, 0, 0, 1);
    padding-left: 15px;
    border-width: 0 0 0 2px;
}

.dance__title {
    cursor: pointer;
    font-family: 'UZ';
    font-size: 18px;
    font-weight: 350;
    line-height: 18.18px;
    text-align: left;
    color: black;
    margin-bottom: 14px;
}

.dance__top .dance__card .dance__description {
    top: -150px;
}

.kafa__des {
    opacity: 0;
    left: 0;
}

.dance__card:hover .ubih__des {
    opacity: 1;
}

.ubih__des {
    opacity: 0;
}

.dance__card:hover .islam__des {
    opacity: 1;
}

.islam__des {
    opacity: 0;
    left: -231px;
}

.dance__card:hover .kafa__des {
    opacity: 1;
}

.dance__bot {
    border: 2px solid rgba(0, 0, 0, 1);
    border-width: 2px 0 0 0;
    display: flex;
}

.dance__card:hover .udj__des {
    opacity: 1;
}

.udj__des {
    opacity: 0;
    left: 45px;
    top: -83px;
}

.dance__card:hover .zaga__des {
    opacity: 1;
}

.dance__card {
    position: relative;
}

.dance__card:hover #zaga {
    opacity: 1;
}

#zaga {
    opacity: 0;
    top: -50px;
    left: 45px;
}

.dance__card:hover .lapa__des {
    opacity: 1;
}

.lapa__des {
    opacity: 0;
}

.dance__bot .dance__card .dance__description {
    top: -37px;
    right: 0;
}

.dance__bot .dance__card {
    padding-top: 75px;
}

.dance__description {
    transition: .3s;
    background-color: rgb(179 179 179);
    width: 425px;
    font-family: 'UZ';
    font-size: 18px;
    font-weight: 350;
    line-height: 18.18px;
    text-align: left;
    border-radius: 48px;
    padding: 20px;
    position: absolute;
}

.dance__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.dance__card:hover iframe {
    opacity: 1;
}

.dance__img {
    margin-bottom: 20px;
    cursor: pointer;
}

iframe {
    opacity: 0;
    margin-bottom: 10px;
    transition: all .5s;
}

.artists {
    background: url('../imgs/танцы/back3.png') no-repeat center/cover;
    height: 1080px;
}

.artists__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 75px;
}

.artists__title {
    padding-top: 88px;
    margin-bottom: 36px;
}

.artists__text {
    max-width: 512px;
    margin-bottom: 54px;
}

.rectangle {
    border: 2px solid #fff;
    width: 1040px;
    margin-bottom: 64px;
}

.artists__sub {
    font-family: 'UZ';
    font-size: 66px;
    font-weight: 350;
    line-height: 66.68px;
    text-align: left;
}

.artists__description {
    font-family: 'UZ';
    font-size: 18px;
    font-weight: 350;
    line-height: 18.18px;
    text-align: left;
    max-width: 759px;
    margin-top: 10px;
}

.btn {
    background: transparent;
    background-color: rgba(255, 255, 255, 1);
    max-width: 497px;
    width: 100%;
    height: 86px;
    border-radius: 47px;
    color: #000;
    font-family: 'UZ';
    font-size: 18px;
    font-weight: 350;
    line-height: 18.18px;
    margin-left: auto;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
    transform: scale(1.1);
}

.img--2 {
    width: 90%;
}

.swiper {
    position: relative;
    max-width: 1300px;
    padding-top: 150px;
    display: none;
    z-index: 100;
}

audio {
    margin-top: 50px;
}

.swiper-slide {
    text-align: center;
    cursor: pointer;
}

.arrows__box {
    position: relative;
}

.arrows__box {
    position: relative;
}

.prev {
    position: absolute;
    z-index: 100;
    top: 500px;
    left: 0;
}

.next {
    position: absolute;
    z-index: 100;
    top: 500px;
    right: 0;
}

.delete {
    cursor: pointer;
    position: absolute;
    top: 150px;
    right: 0;
    font-size: 20px;
    background: transparent;
    color: #fff;
    z-index: 5000;
}

.slide__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slide__box span {
    font-family: 'UZ';
}

@media (max-width:1399px) {
    .dance__card {
        margin-right: 100px;
    }
}

@media (max-width:1199px) {
    .dance__card {
        margin-right: 50px;
    }
}